<div class="container">

  <div class="w3-container" >


    <div class="w3-card-4">
      <div class="w3-container w3-green">
        <h2>Welcom to Domain-Checker</h2>
      </div>

      <form class="w3-container" style="background-color: white;" >
        <p>
        <input class="w3-input" type="text" [formControl]="domain" id="domain">
        <label for="domain">Your Domain</label></p>
        <p>
          <button class="w3-btn w3-blue" type='button' (click)="getdomain()">Search</button>

      </form>
    </div>
  </div>
  <div *ngIf="isShown" class="row container-fluid"  id="divshow" >
  <h3>{{showdata.domain}}</h3>
<h6 >Domain valid:<i *ngIf="isdomainValid"  style="color: green;" class="lni lni-checkmark"></i>
  <i *ngIf="!isdomainValid"  style="color: red;" class="lni lni-close"></i></h6>
  <h6>{{showdata.available ? 'Domain Available' : 'Domain Not Available' }}</h6>
  <h6>Register By: {{showdata.registrar}}</h6>
  <h6>Creation Date : {{showdata.created_at}}</h6>
  <h6>Update Date : {{showdata.updated_at}}</h6>
  <h6>Expiration Date : {{showdata.expires_at}}</h6>

    </div>
</div>
